<h2>{{userName}}</h2>

<p>has {{favouriteLanguage}} as their favourite language across these repositories:</p>

<ul>
  {{#each repositories}}
    <li class='repo'>
      {{name}} 
      {{#if language}}
        <span class='right'><aside>is written in</aside> {{language}}</span>
      {{/if}}
    </li>
  {{/each}}
</ul>
